@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}

body {
    background-color: #151515;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 200px;

    .logo {
        position: relative;
        display: flex;
        gap: 10rem;

        span {
            display: block;
            font-size: 3rem;
            color: #fff;
            font-weight: 900;
            text-shadow: 0 1px 30px #fff;
            user-select: none;
        }
        span.layn {
            position: absolute;
            z-index: -1;
            width: calc(100% - 3rem);
            height: fit-content;
            top: 50%;
            transform: translateY(-50%);
            box-shadow: 0 0 30px 3px #fff;
            background-color: #fff;
        }
    }
}

img {
    width: 200px;
}

@keyframes animate {

    0%,
    100% {
        transform: translateZ(-100px);
    }

    50% {
        transform: translateZ(100px);
    }
}

aside {
    height: calc(100% - 80px);
}

main.page__content {
    padding: 0 40px;
    display: flex;

    .popular {
        width: calc(100% - 200px);
        max-width: 1920px;

        h1 {
            margin-bottom: 20px;
        }
    
        .discover-columns {
            width: 100%;
            display: grid;
            grid-gap: 0 24px;
            grid-template-columns: repeat(4, 1fr);

            .discover-columns__column {
                height: 300px;

                .game-card-medium {
                    transition: all 0.3s;
                    transform: scale(1);
                    background-color: #202020;
                    border-radius: 12px;
                    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 7%);
                    overflow: hidden;

                    &:hover {
                        transform: scale(1.02);
                    }
                }
            }
        }
    }

    div.avatar {
        background-image: url('https: //media.rawg.io/media/resize/80/-/avatars/2f1/2f106ab3ed042a89bfcd551f4551f8ba.jpg');
    }

    .asidebar {
        height: calc(100vh - 80px);
        display: flex;
        flex-direction: column;
        width: 200px;
        min-width: 200px;
        margin-right: 20px;

        .discover-sidebar__menu {

            span.discover-sidebar__title {
                display: block;
                font-size: 24px;
                line-height: 28px;
                font-weight: 700;
                margin-bottom: 16px;
            }

            ul.discover-sidebar__list {
                list-style: none;
                margin: 0 0 24px;

                li {
                    margin-bottom: 8px;

                    a {
                        display: flex;
                        align-items: center;

                        span.discover-sidebar__icon {
                            display: flex;
                            flex: 0 1 auto;
                            align-items: center;
                            justify-content: center;
                            transition: all 0.3s;
                            width: 32px; height: 32px;
                            margin-right: 8px;
                            border-radius: 6px;
                            background-color: rgba($color: #fff, $alpha: .1);

                            svg {
                                width: 18px;
                                height: 18px;
                                fill: #fff;
                            }
                        }

                        &:hover span.discover-sidebar__icon {
                            background-color: #fff;
                            i {
                                color: #151515;
                            }
                            svg {
                                fill: #151515;
                            }
                        }
                    }

                }
            }
        }
    }
}

