.plaforms_platform_pc {
    width: 12px;
    height: 13px;
    background-image: url('../../assets/svg_icons/PC.svg');
}

.plaforms_platform_mac {
    width: 13px;
    height: 14px;
    background-image: url("../../assets/svg_icons/Mac.svg");
}

.plaforms_platform_playstation {
    width: 17px;
    height: 13px;
    background-image: url("../../assets/svg_icons/Playstation.svg");
}

.plaforms_platform_xbox {
    width: 13px; height: 13px;
    background-image: url("../../assets/svg_icons/Xbox.svg");
}

.plaforms_platform_linux {
    width: 12px; height: 16px;
    background-image: url("../../assets/svg_icons/Linux.svg");
}

.plaforms_platform_nintendo {
    width: 17px; height: 13px;
    background-image: url("../../assets/svg_icons/Nintendo.svg");
}

.plaforms_platform_ios {
    width: 10px; height: 16px;
    background-image: url("../../assets/svg_icons/Ios.svg");
}